pkgbase = hale-cli-bin
	pkgdesc = Command-line interface for hale studio (binary package)
	pkgver = 6.1.6
	pkgrel = 1
	url = https://github.com/halestudio/hale-cli
	arch = any
	license = LGPL-3.0-only
	depends = java-runtime
	provides = hale-cli
	conflicts = hale-cli
	conflicts = hale
	source = hale-cli_6.1.6_all.deb::https://github.com/halestudio/hale-cli/releases/download/v6.1.6/hale-cli_6.1.6_all.deb
	sha256sums = 8b01eb61f8978e0105cf84622a8f33ec71a53439fc66f1efb8ba3ee14adebff1

pkgname = hale-cli-bin
